@charset "UTF-8";
/* use

@include fluid-font-size($f-min, $f-max, $w-min, $w-max, $fallback)

$f-min - минимальный размер шрифта
$f-max - максимальный размер шрифта
$w-min - минимальное значение ширины экрана
$w-max - максимальное значение ширины экрана
$fallback - фолбек для старых браузеров

scss
.fluid-font-size {
  @include fluid-font-size(16px, 24px, 480px, 1280px, 18px);
}

sass

.fluid-font-size
  @include fluid-font-size(16px, 24px, 480px, 1280px, 18px)


*/
@import "swiper-bundle.min.css";
:root {
  --accent: #FE475A;
  --gray: rgba(66,66,66,.9);
  --blue: rgba(0,81,227,.9);
  --red: rgba(255,75,83,.9);
  --swiper-theme-color: #FFFFFF;
  --swiper-navigation-size: 20px;
}

body {
  font-family: Helvetica Neue, arial, sans-serif;
  margin: 0;
}

button {
  color: #fff;
  border: none;
  height: 32px;
  font-family: Helvetica Neue, arial, sans-serif;
}

.wrapper {
  width: 100%;
  margin: auto;
}

header {
  padding: 17px 21px;
  color: #2b2b2b;
  background-color: white;
  border-bottom: 1px solid #cdcdcd;
}

header img {
  width: 120px;
}

header .header-phone {
  display: flex;
  float: right;
  margin-right: 20px;
  padding-top: 8px;
}

header .header-phone a {
  text-decoration: none;
}

header .header-phone .header-phone-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(43, 43, 43, 0.3);
  justify-content: center;
  align-items: center;
  font-size: 0px;
  line-height: 0;
  position: relative;
}

header .header-phone .header-phone-icon::before {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 40px;
}

header .header-phone .header-phone-icon::before {
  color: black;
  font-size: 20px;
}

header .header-phone .header-phone-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

section {
  position: relative;
  line-height: 24px;
}

section .main-section {
  max-width: 940px;
  margin: 0 auto;
  padding: 15px 20px;
}

section .main-section .main-title {
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
}

section .main-section .main-title p {
  margin: 0;
}

section .main-section .main-description {
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

section .main-section .main-description span {
  color: #fe475a;
}

section .button-list {
  position: relative;
  margin-top: 38px;
  text-align: center;
}

section .scroll-button {
  font-size: 20px;
  color: #ffffff;
  background-color: #2ace28;
  height: inherit;
  padding: 10px 20px;
}

section .button-list span {
  display: inline-block;
  color: #000000;
  padding: 0 15px;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 50px;
  border-radius: 5px;
}

section .button-list a {
  margin-top: 15px;
  margin-right: 15px;
  min-width: 120px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
}

section .button-list a .whatsapp-button {
  color: #fff;
  background-color: #2ace28;
  height: inherit;
}

section .button-list a .viber-button {
  color: #fff;
  background-color: #8a0ba4;
  height: inherit;
}

section .button-list a .online-button {
  background-color: #e4f400;
  height: inherit;
}

section .main-image {
  text-align: center;
  margin-top: 50px;
}

section .before-form {
  text-align: center;
}

section .before-form .before-form-title {
  font-size: 28px;
  line-height: 40px;
}

section .before-form .before-form-title p {
  margin-top: 20px;
}

section .before-form .before-form-title span {
  color: #fe475a;
}

section .before-form .before-form-description {
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

section .before-form .before-form-description p {
  font-size: 16px;
}

section .form-section {
  font-family: Helvetica, arial, sans-serif;
  padding-bottom: 16px;
  margin: 0 auto;
  max-width: 460px;
}

section .form-section form {
  font-size: 16px;
}

section .form-section form input {
  height: 40px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  width: 95%;
  padding: 0 0 0 15px;
  font-size: 16px;
  line-height: 20px;
  border: solid transparent;
  background: 0 0;
  color: #949494;
}

section .form-section form button {
  margin-top: 20px;
  min-width: 100px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #ee0c0c;
  border-radius: 3px;
  cursor: pointer;
}

section .form-section .submit-button {
  text-align: center;
}

section .form-section .agreement {
  margin-top: 12px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

section .agreement .agreement-text {
  color: #000;
  opacity: 0.3;
}

section .agreement .agreement-link {
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

section .agreement .agreement-link:hover {
  opacity: 1;
}

section .agreement .agreement-full-modal a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background-color: #333;
  margin: 0 auto;
}

footer .footer-middle {
  position: relative;
  line-height: 24px;
  max-width: 940px;
  margin: auto;
  padding: 13px 24px;
  text-align: left;
  opacity: 0.6;
}

footer .footer-middle .footer-middle-agreement-modal {
  cursor: pointer;
}

footer .footer-middle .footer-middle-agreement-modal a {
  text-decoration: none;
  color: #fff;
}

/* MEDIA-QUERIES */
@media screen and (max-width: 980px) {
  section .main-section .main-title {
    font-size: 34px;
    line-height: 1.06;
  }

  section .main-section .main-description {
    font-size: 20px;
    line-height: 1.2;
  }

  section .button-list {
    margin-top: 0;
  }

  section .button-list span {
    margin-top: 15px;
  }

  section .main-image img {
    max-width: 100%;
  }
}
@media screen and (max-width: 650px) {
  section .button-list span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
  }

  section .button-list a {
    margin-right: 0;
  }

  section .button-list span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
  }

  section .main-image {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  section .form-section .submit-button span {
    display: block;
  }

  section .form-section .submit-button button {
    width: 100%;
  }

  section .form-section .agreement {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  header .header-phone .header-phone-number {
    display: none;
  }

  header .header-phone {
    margin-right: 0;
  }

  header .header-phone .header-phone-icon {
    border-radius: 3px;
    background-color: #eb3030;
  }

  header .header-phone .header-phone-icon::before {
    color: white;
  }

  section .button-list span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 17px;
  }

  section .button-list a {
    margin-right: 0;
  }

  section .before-form .before-form-title {
    font-size: 24px;
  }
}
.subtitle {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accent {
  font-size: 1.2em;
  color: var(--accent);
}

.danger {
  color: var(--accent);
}

.equipment-container {
  margin-top: 30px;
  margin-right: -20px;
  margin-left: -20px;
}
.equipment-container > .swiper-wrapper .swiper-slide {
  transition: all 200ms linear;
  transform: scale(0.7);
}
.equipment-container > .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1);
}
.equipment-container .swiper-button-prev,
.equipment-container .swiper-button-next {
  top: 35%;
  width: 30px;
  height: 30px;
  background-color: #FF313B;
  border-radius: 50%;
}
.equipment-container .swiper-button-prev:after,
.equipment-container .swiper-button-next:after {
  font-size: 18px;
}
.equipment-container__element > a {
  font-size: 14px;
  line-height: 1.35;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #363636;
}
.equipment-container__element > a:hover, .equipment-container__element > a:focus {
  color: inherit;
  text-decoration: none;
}

.img-responsive {
  width: 100%;
}

.reviews-container__title {
  font-size: 20px;
  text-align: center;
}
.reviews-container .swiper {
  width: 90%;
}
.reviews-container .swiper__wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.reviews-container .swiper-button-prev,
.reviews-container .swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: #FF313B;
  border-radius: 50%;
}
.reviews-container .swiper-button-prev:after,
.reviews-container .swiper-button-next:after {
  font-size: 18px;
}
.reviews-container .swiper-button-prev {
  left: 0;
}
.reviews-container .swiper-button-next {
  right: 0;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}
.modalDialog .modal-box {
  text-align: center;
  padding: 15px;
}
.modalDialog__container {
  position: relative;
  width: 80%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 30px 40px rgba(38, 32, 24, 0.15);
}
.modalDialog__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modalDialog__title {
  margin: 10px auto;
}
.modalDialog__submit {
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #ee0c0c;
}
.modalDialog__input {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 14px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
}
.modalDialog__compliance {
  margin-top: 5px;
  font-size: 9px;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/close.png) no-repeat center center/contain;
  top: 10px;
  right: 10px;
}

.close:hover {
  background: url(../img/close_hover.png) no-repeat;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.modalDialog:target {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.sets {
  position: relative;
  margin: 30px -20px;
  max-width: 1170px;
}
.sets__title {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.3;
  font-size: 22px;
  margin-bottom: 40px;
}
@media (min-width: 400px) {
  .sets__title {
    font-size: calc( 0.01 * 100vw + 18px );
  }
}
@media (min-width: 1000px) {
  .sets__title {
    font-size: 28px;
  }
}
.sets__subtitle {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 20px;
}
@media (min-width: 400px) {
  .sets__subtitle {
    font-size: calc( 0.0066666667 * 100vw + 17.3333333333px );
  }
}
@media (min-width: 1000px) {
  .sets__subtitle {
    font-size: 24px;
  }
}
.sets__item-container {
  margin: 3px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.sets__item-img {
  width: 100%;
  height: auto;
}
.sets__text-block {
  margin-top: 30px;
}
.sets__item-title {
  padding: 7px 10px;
  margin-bottom: 10px;
  width: max-content;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 400px) {
  .sets__item-title {
    font-size: calc( 0.01 * 100vw + 14px );
  }
}
@media (min-width: 1000px) {
  .sets__item-title {
    font-size: 24px;
  }
}
.sets__item-list {
  padding-left: 0;
  list-style: none;
}
.sets__item-list li {
  padding-left: 20px;
}
.sets__item-list li:not(:last-child) {
  margin-bottom: 5px;
}
.sets__item-list li :nth-child(1) {
  font-size: 15px;
  font-weight: 600;
}
@media (min-width: 400px) {
  .sets__item-list li :nth-child(1) {
    font-size: calc( 0.005 * 100vw + 13px );
  }
}
@media (min-width: 1000px) {
  .sets__item-list li :nth-child(1) {
    font-size: 18px;
  }
}
.sets__item-list li :nth-child(2) {
  display: block;
  font-size: 14px;
}
@media (min-width: 400px) {
  .sets__item-list li :nth-child(2) {
    font-size: calc( 0.005 * 100vw + 12px );
  }
}
@media (min-width: 1000px) {
  .sets__item-list li :nth-child(2) {
    font-size: 17px;
  }
}
.sets__item-list li::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 5px;
  border-color: transparent transparent transparent #ff313b;
  margin-left: -12px;
  padding-right: 6px;
}
.sets__prices {
  margin-top: 15px;
  padding-left: 10px;
  font-weight: 900;
}
.sets__price {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #363636;
}
@media (min-width: 400px) {
  .sets__price {
    font-size: calc( 0.0066666667 * 100vw + 23.3333333333px );
  }
}
@media (min-width: 1000px) {
  .sets__price {
    font-size: 30px;
  }
}
.sets__old-price {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-decoration: line-through;
  color: #646464;
}
@media (min-width: 400px) {
  .sets__old-price {
    font-size: calc( 0.01 * 100vw + 14px );
  }
}
@media (min-width: 1000px) {
  .sets__old-price {
    font-size: 24px;
  }
}
.sets__button {
  box-sizing: border-box;
  display: block;
  padding: 15px;
  margin-top: 15px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF313B;
}
.sets__button:hover, .sets__button:focus {
  color: #FFFFFF;
  text-decoration: none;
}

.bg_gray {
  background-color: var(--gray);
}
.bg_blue {
  background-color: var(--blue);
}
.bg_red {
  background-color: var(--red);
}

/*# sourceMappingURL=turbo_css.css.map */
