@import "mixin/fluid-font-size";
@import "mixin/_visually-hidden.scss";
@import "vars.scss";
@import "swiper-bundle.min.css";

body {
  font-family: Helvetica Neue, arial, sans-serif;
  margin: 0;
}

button {
  color: #fff;
  border: none;
  height: 32px;
  font-family: Helvetica Neue, arial, sans-serif;
}

.wrapper {
  width: 100%;
  margin: auto;
}

header {
  padding: 17px 21px;
  color: rgba(43, 43, 43, 1);
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #cdcdcd;
}

header img {
  width: 120px;
}

header .header-phone {
  display: flex;
  float: right;
  margin-right: 20px;
  padding-top: 8px;
}

header .header-phone a {
  text-decoration: none;
}

header .header-phone .header-phone-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(43, 43, 43, 0.3);
  justify-content: center;
  align-items: center;
  font-size: 0px;
  line-height: 0;
  position: relative;
}

header .header-phone .header-phone-icon::before {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 40px;
}

header .header-phone .header-phone-icon::before {
  color: black;
  font-size: 20px;
}

header .header-phone .header-phone-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

section {
  position: relative;
  line-height: 24px;
}

section .main-section {
  max-width: 940px;
  margin: 0 auto;
  padding: 15px 20px;

}

section .main-section .main-title {
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
}

section .main-section .main-title p {
  margin: 0;
}

section .main-section .main-description {
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

section .main-section .main-description span {
  color: rgba(254, 71, 90, 1);
}

section .button-list {
  position: relative;
  margin-top: 38px;
  text-align: center;
}

section .scroll-button {
  font-size: 20px;
  color: #ffffff;
  background-color: rgba(42, 206, 40, 1);
  height: inherit;
  padding: 10px 20px;
}

section .button-list span {
  display: inline-block;
  color: #000000;
  padding: 0 15px;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 50px;
  border-radius: 5px;
}

section .button-list a {
  margin-top: 15px;
  margin-right: 15px;
  min-width: 120px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
}

section .button-list a .whatsapp-button {
  color: #fff;
  background-color: rgba(42, 206, 40, 1);
  height: inherit;
}

section .button-list a .viber-button {
  color: #fff;
  background-color: rgba(138, 11, 164, 1);
  height: inherit;
}

section .button-list a .online-button {
  background-color: rgba(228, 244, 0, 1);
  height: inherit;
}

section .main-image {
  text-align: center;
  margin-top: 50px;
}

section .before-form {
  text-align: center;
}

section .before-form .before-form-title {
  font-size: 28px;
  line-height: 40px;
}

section .before-form .before-form-title p {
  margin-top: 20px;
}

section .before-form .before-form-title span {
  color: rgba(254, 71, 90, 1);
}

section .before-form .before-form-description {
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

section .before-form .before-form-description p {
  font-size: 16px;
}

section .form-section {
  font-family: Helvetica, arial, sans-serif;
  padding-bottom: 16px;
  margin: 0 auto;
  max-width: 460px;
}

section .form-section form {
  font-size: 16px;
}

section .form-section form input {
  height: 40px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
  width: 95%;
  padding: 0 0 0 15px;
  font-size: 16px;
  line-height: 20px;
  border: solid transparent;
  background: 0 0;
  color: #949494;
}

section .form-section form button {
  margin-top: 20px;
  min-width: 100px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: rgba(238, 12, 12, 1);
  border-radius: 3px;
  cursor: pointer;
}

section .form-section .submit-button {
  text-align: center;
}

section .form-section .agreement {
  margin-top: 12px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

section .agreement .agreement-text {
  color: #000;
  opacity: .3;
}

section .agreement .agreement-link {
  text-decoration: none;
  color: inherit;
  opacity: .5;
}

section .agreement .agreement-link:hover {
  opacity: 1;
}

section .agreement .agreement-full-modal a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background-color: #333;
  margin: 0 auto;
}

footer .footer-middle {
  position: relative;
  line-height: 24px;
  max-width: 940px;
  margin: auto;
  padding: 13px 24px;
  text-align: left;
  opacity: .6;

}

footer .footer-middle .footer-middle-agreement-modal {
  cursor: pointer;
}

footer .footer-middle .footer-middle-agreement-modal a {
  text-decoration: none;
  color: #fff;
}

/* MEDIA-QUERIES */
@media screen and (max-width: 980px) {
  section .main-section .main-title {
    font-size: 34px;
    line-height: 1.06;
  }

  section .main-section .main-description {
    font-size: 20px;
    line-height: 1.2;
  }

  section .button-list {
    margin-top: 0;
  }

  section .button-list span {
    margin-top: 15px;
  }

  section .main-image img {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  section .button-list span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
  }

  section .button-list a {
    margin-right: 0;
  }

  section .button-list span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
  }

  section .main-image {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  section .form-section .submit-button span {
    display: block;
  }

  section .form-section .submit-button button {
    width: 100%;
  }

  section .form-section .agreement {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  header .header-phone .header-phone-number {
    display: none;
  }

  header .header-phone {
    margin-right: 0;
  }

  header .header-phone .header-phone-icon {
    border-radius: 3px;
    background-color: rgba(235, 48, 48, 1);
  }

  header .header-phone .header-phone-icon::before {
    color: white;
  }

  section .button-list span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 17px;
  }

  section .button-list a {
    margin-right: 0;
  }

  section .before-form .before-form-title {
    font-size: 24px;
  }
}

.subtitle {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accent {
  font-size: 1.2em;
  color: var(--accent);
}

.danger {
  color: var(--accent);
}

.equipment-container {
  margin-top: 30px;
  margin-right: -20px;
  margin-left: -20px;

  & > .swiper-wrapper {
    .swiper-slide {
      transition: all 200ms linear;
      transform: scale(0.7);

      &.swiper-slide-active {
        transform: scale(1);
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 35%;
    width: 30px;
    height: 30px;
    background-color: #FF313B;
    border-radius: 50%;

    &:after {
      font-size: 18px;
    }
  }

  &__element {
    & > a {
      font-size: 14px;
      line-height: 1.35;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      color: #363636;

      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.img-responsive {
  width: 100%;
}

.reviews-container {

  &__title {
    font-size: 20px;
    text-align: center;
  }

  .swiper {
    width: 90%;

    &__wrapper {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    background-color: #FF313B;
    border-radius: 50%;

    &:after {
      font-size: 18px;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;

  .modal-box {
    text-align: center;
    padding: 15px;
  }

  &__container {
    position: relative;
    width: 80%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 30px 40px rgba(38, 32, 24, 0.15);
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    margin: 10px auto;
  }

  &__submit {
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #ee0c0c;
  }

  &__input {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
  }

  &__compliance {
    margin-top: 5px;
    font-size: 9px;
  }

}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/close.png) no-repeat center center / contain;
  top: 10px;
  right: 10px;
}

.close:hover {
  background: url(../img/close_hover.png) no-repeat;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s
}

.modalDialog:target {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}


.sets {
  position: relative;
  margin: 30px -20px;
  max-width: 1170px;

  &__title {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.3;
    @include fluid-font-size(22px, 28px, 400px, 1000px);
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 20px;
    padding: 0 20px;
    @include fluid-font-size(20px, 24px, 400px, 1000px);
  }

  &__wrapper {
  }

  &__item-container {
    margin: 3px;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
  }

  &__item-img-container {
  }

  &__item-img {
    width: 100%;
    height: auto;
  }

  &__text-block {
    margin-top: 30px;
  }

  &__item-title {
    padding: 7px 10px;
    margin-bottom: 10px;

    width: max-content;
    @include fluid-font-size(18px, 24px, 400px, 1000px);
    line-height: 1;

    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__item-list {
    padding-left: 0;
    list-style: none;
    & li {
      padding-left: 20px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      :nth-child(1) {
        @include fluid-font-size(15px, 18px, 400px, 1000px);
        font-weight: 600;
      }

      :nth-child(2) {
        display: block;
        @include fluid-font-size(14px, 17px, 400px, 1000px);
      }

      &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4.5px 0 4.5px 5px;
        border-color: transparent transparent transparent #ff313b;
        margin-left: -12px;
        padding-right: 6px;
      }
    }
  }

  &__prices {
    margin-top: 15px;
    padding-left: 10px;
    font-weight: 900;
  }

  &__price {
    margin: 0;
    padding: 0;
    @include fluid-font-size(26px, 30px, 400px, 1000px);
    color: #363636;
  }

  &__old-price {
    margin: 0;
    padding: 0;
    @include fluid-font-size(18px, 24px, 400px, 1000px);
    text-decoration: line-through;
    color: #646464;
  }

  &__button {
    box-sizing: border-box;
    display: block;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF313B;

    &:hover,
    &:focus {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

.bg {
  &_gray {
    background-color: var(--gray);
  }

  &_blue {
    background-color: var(--blue);
  }

  &_red {
    background-color: var(--red);
  }
}